body {
    background-color: $light;
    overflow-x: hidden;
}
.main {
    max-width: 1600px;
    margin: auto;
}
.grid {
    display: grid;
    grid-template-columns: 25% 25%;
}

.grid-item {
    min-height: 350px;
    padding: $spacer*3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item-1 {
    grid-column: 1 / span 2;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
}

.grid-item-4 {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
    background-image: url('/assets/images/generator-render-square.jpg');
}

.grid-item-11 {
    grid-column: 3 / span 2;
}

.grid-item-12 {
    background-image: url('/assets/images/bristol-old-warehouse.jpg');
}

.grid-item-14 {
    grid-column: 3 / span 2;
    grid-row: 5 / span 2;
    background-image: url('/assets/images/generator-render-square-2.jpg');
}

.grid-item-15 {
    grid-column: 1 / span 2;
}

.grid-item-16 {
    grid-column: 1 / span 2;
    grid-row: 7 / span 2;
    background-image: url('/assets/images/map-square.png');
}

.grid-item-17 {
    grid-column: 3 / span 2;
    grid-row: 7 / span 1;
}

.grid-item-18 {
    grid-column: 3 / span 1;
    grid-row: 8 / span 1;
}

.grid-item-22 {
    grid-column: 3 / span 2;
    background-image: url('/assets/images/bristol-markets.jpg');
}

.grid-item--icon {
    width: 200px;
}

@include media-breakpoint-down(lg) {
    .grid-item {
        min-height: 300px;
        padding: $spacer*2;
    }
    .grid-item-2 {
        grid-column: 3 / span 2;
    }
    .grid-item-3, .grid-item-5, .grid-item-18, .grid-item-13 {
         grid-column: 3 / span 2;
    }
    .grid-item-10, .grid-item-11, .grid-item-12, .grid-item-21 {
        grid-column: 1 / span 2;
    }
    .grid-item--icon {
        width: auto;
        min-width: 150px;
    }
}
@include media-breakpoint-down(md) {
    .grid-item--icon {
        max-width: 200px;
    }

    .grid-item-15 {
        grid-column: 1 / span 4;
    }

    .grid-item-19 {
        grid-column: 1 / span 2;
    }

    .grid-item-20 {
        grid-column: 3 / span 2;
    }
}
@include media-breakpoint-down(sm) {
    // .grid {
    //     display: block;
    // }
    .grid-item-1, .grid-item-4, .grid-item-14, .grid-item-16, .grid-item-17, .grid-item-18, .grid-item-5, .grid-item-10, .grid-item-11, .grid-item-12, .grid-item-13, .grid-item-22 {
        grid-column: 1 / span 4;
    }
    .grid-item-2, .grid-item-6 {
        grid-column: 1 / span 2;
    }
    .grid-item-3, .grid-item-7 {
        grid-column: 3 / span 2;
    }
    .grid-item-21, .grid-item-8, .grid-item-9, .grid-item-19, .grid-item-20 {
        display: none;
    }
    .grid-item--icon {
        max-width: 100px;
        min-width: auto;
    }
    .footer-logo {
        max-width: 200px;
    }
    .grid-item {
        min-height: 250px;
    }
}

.logo {
    height: 60px;
}


