---
layout: default
---
<div class="d-flex align-items-center justify-content-center vh-100 text-white bg-home bg-cover bg-no-repeat bg-center relative p-5">
    <img class="header-logo w-100" src="/assets/images/new-generator-bristol-logo.svg" alt="New Generator Bristol">
</div>

<div class="d-block">
  <div class="grid">
    <div class="grid-item grid-item-1 bg-dark text-white">
      <div class="row w-100 align-items-center">
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
          <h2 class="text-primary text-uppercase display-4 text-center text-lg-left"><span class="text-white">Bright</span>
            Sparks Wanted</h2>
        </div>
        <div class="col-12 col-lg-6 mb-4 mb-lg-0 text-center text-lg-right">
          <img class="grid-item--icon" src="{{site.url}}/assets/images/lightning.svg" alt="Lightning icon">
        </div>
      </div>

    </div>
    <div class="grid-item grid-item-2 bg-white text-center">
      <img class="grid-item--icon" src="{{site.url}}/assets/images/lightbulb.svg" alt="Light Bulb icon">
    </div>
    <div class="grid-item grid-item-3 bg-primary">
      <img class="grid-item--icon" src="{{site.url}}/assets/images/arch.svg" alt="Arch icon">
    </div>
    <div class="grid-item grid-item-4 bg-primary bg-center bg-cover bg-no-repeat">
    </div>
    <div class="grid-item grid-item-5 bg-primary d-flex flex-column align-items-start">
      <p class="text-lg ">30,611 sq ft of outstanding, contemporary office space</p>
      <p class="text-lg mb-0"><strong>Powering up in 2019</strong></p>
    </div>
    <div class="grid-item grid-item-6 bg-dark text-white">
      <img class="grid-item--icon" src="{{site.url}}/assets/images/switches.svg" alt="Switches icon">
    </div>
    <div class="grid-item grid-item-7 bg-primary text-white">
      <img class="grid-item--icon" src="{{site.url}}/assets/images/chair.svg" alt="Chair icon">
    </div>
    <div class="grid-item grid-item-8 bg-white">
      <img class="grid-item--icon" src="{{site.url}}/assets/images/wave.svg" alt="Wave icon">
    </div>
    <div class="grid-item grid-item-9 bg-dark text-warning">
      <img class="grid-item--icon" src="{{site.url}}/assets/images/cup.svg" alt="Cup icon">
    </div>
    <div class="grid-item grid-item-10 bg-white">
      <p class="text-lg mb-0">A new lease of life for Bristol’s iconic, Grade II listed Generator building</p>
    </div>
    <div class="grid-item grid-item-11 bg-dark text-white">
      <div class="row w-100 align-items-center">
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
          <h2 class="text-white text-uppercase display-4 text-center text-lg-left">Bristol's <span class="text-primary">Lightbulb</span>
            Moment</h2>
        </div>
        <div class="col-12 col-lg-6 mb-4 mb-lg-0 text-center text-lg-right">
          <img class="grid-item--icon" src="{{site.url}}/assets/images/lightbulb-white.svg" alt="Lightbulb icon">
        </div>
      </div>
    </div>
    <div class="grid-item grid-item-12 bg-dark bg-center bg-cover bg-no-repeat">
    </div>
    <div class="grid-item grid-item-13 bg-white">
      <img class="grid-item--icon" src="{{site.url}}/assets/images/generator-strike.svg" alt="Generator Strike icon">
    </div>
    <div class="grid-item grid-item-14 bg-center bg-cover bg-no-repeat">
    </div>
    <div class="grid-item grid-item-15 bg-primary">
      <div class="row w-100 align-items-center">
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
          <h2 class="text-uppercase display-4 text-center text-lg-left">Just in<span class="text-white"><br> Reach</span></h2>
        </div>
        <div class="col-12 col-lg-6 mb-4 mb-lg-0 text-center text-lg-right">
          <img class="grid-item--icon" src="{{site.url}}/assets/images/levels.svg" alt="levels icon">
        </div>
      </div>
    </div>
    <div class="grid-item grid-item-16 bg-cover bg-no-repeat bg-light">
    </div>
    <div class="grid-item grid-item-17 bg-white">
      <p class="mb-0">Overlooking Bristol’s Floating Harbour within the much acclaimed <strong>Finzels Reach</strong>
        development, this landmark building beneﬁts from excellent pedestrian, vehicular and waterway links to all
        parts of the city.</p>
    </div>
    <div class="grid-item grid-item-18 bg-dark text-white d-flex flex-column">
      <p class="text-xs">Brunel’s Temple Meads station is within a 12 minute walk while the recently opened Castle
        Bridge provides ready access
        to Cabot Circus, Quakers Friars and St Nicholas Market.</p>

      <p class="text-xs mb-0">The Generator Building sits close to an array of bus routes (and the proposed new MetroBus
        routes) whilst Bristol’s
        water taxis and ferries can also be boarded from Castle Park.</p>
    </div>
    <div class="grid-item grid-item-19 bg-primary">
      <img class="grid-item--icon" src="{{site.url}}/assets/images/train.svg" alt="Train icon">
    </div>
    <div class="grid-item grid-item-20 bg-primary text-white">
      <img class="grid-item--icon" src="{{site.url}}/assets/images/gb-white.svg" alt="Generator Bristol icon">
    </div>
    <div class="grid-item grid-item-21 bg-white">
      <img class="grid-item--icon" src="{{site.url}}/assets/images/bike.svg" alt="Bike icon">
    </div>
    <div class="grid-item grid-item-22 bg-light bg-center bg-cover bg-no-repeat">
    </div>
  </div><!-- /grid -->
</div><!-- /d-block -->


<div class="bg-dark py-5 text-white">
  <div class="row w-100 px-2 px-md-5 align-items-center mx-auto">
    <div class="col-12 col-md-6">
  
      <div class="mb-3 mb-md-5">
  
        <h3 class="text-sm font-family-body mb-4">Developer</h3>
        <div class="d-flex w-100 flex-column flex-lg-row align-items-lg-center">
          <div class="d-block">
            <img class="logo mb-4 mb-md-0 mr-md-3" src="{{site.url}}/assets/images/castleforge-partners-logo-white.svg"
              alt="Castleforge Partners Logo">
          </div><!-- /d-block -->
          <div class="d-block">
            <ul class="list-unstyled m-0 text-xs">
              <li>Rachael Pittaway</li>
              <li><a class="text-white" href="mailto:rpittaway@castleforgepartners.com">rpittaway@castleforgepartners.com</a></li>
              <li><a class="text-white" href="tel:+447562989805">0756 298 9805</a></li>
            </ul>
          </div><!-- /d-block -->
        </div><!-- /d-flex -->
  
      </div><!-- /mb-5 -->
  
      <h3 class="text-sm font-family-body mb-4">Letting Agents</h3>
      <div class="row">
  
        <div class="col-12 col-xl-7 mb-4 mb-xl-0">
          <div class="d-flex w-100 flex-column flex-lg-row align-items-lg-center">
            <div class="d-block">
              <img class="logo mb-4 mb-md-0 mr-md-3" src="{{site.url}}/assets/images/knight-frank-logo.svg" alt="Knight Frank Logo">
            </div><!-- /d-block -->
            <div class="d-block">
              <ul class="list-unstyled m-0 text-xs">
                <li>Martin Booth</li>
                <li><a class="text-white" href="mailto:martin.booth@knightfrank.com">martin.booth@knightfrank.com</a></li>
                <li><a class="text-white" href="tel:01179174990">0117 917 4990</a></li>
              </ul>
            </div><!-- /d-block -->
          </div><!-- /d-flex -->
        </div><!-- /col -->
  
        <div class="col-12 col-xl-5 mb-lg-0">
          <div class="d-flex w-100 flex-column flex-lg-row align-items-lg-center">
            <div class="d-block">
              <img class="logo mb-4 mb-md-0 mr-md-3" src="{{site.url}}/assets/images/colliers-international-logo.png" alt="Colliers International Logo">
            </div><!-- /d-block -->
            <div class="d-block">
              <ul class="list-unstyled m-0 text-xs">
                <li>James Preece</li>
                <li><a class="text-white" href="mailto:James.Preece@colliers.com">James.Preece@colliers.com</a></li>
                <li><a class="text-white" href="tel:07917392867">0791 739 2867</a></li>
              </ul>
            </div><!-- /d-block -->
          </div><!-- /d-flex -->
        </div><!-- /col -->
  
      </div><!-- /row -->
  
  
    </div>
    <div class="col-12 col-md-6 order-first order-md-last mb-5 mb-md-0">
      <div class="px-md-5">
        <h2 class="h1 text-primary mb-4 text-uppercase"><span class="text-white">Power</span> Up</h2>
        <form name="enquiry" netlify>
          <input type="text" required name="name" class="form-control-lg form-control-lg w-100 mb-3" placeholder="Name">
          <input type="text" name="business" class="form-control form-control-lg w-100 mb-3" placeholder="Business">
          <input type="email" required name="email" class="form-control form-control-lg w-100 mb-3" placeholder="Email">
          <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </form>
      </div>
  
    </div>
  </div><!-- /row -->
</div><!-- /bg-dark -->

<div class="bg-white p-5">
  <div class="row align-items-center py-md-5">
    <div class="col-12 col-md-6 text-center d-flex justify-content-center mb-5 mb-md-0">
      <img class="footer-logo w-100" src="/assets/images/generator-bristol-logo.svg" alt="Generator Bristol logo">
    </div><!-- /col -->
    <div class="col-12 col-md-6 text-center d-flex justify-content-center">
      <img class="footer-logo-castleforge" src="{{site.url}}/assets/images/castleforge-partners-logo.svg" alt="Castleforge Partners Logo">
    </div><!-- /col -->
  </div><!-- /row -->
</div><!-- bg-white -->